.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--Dark-cyan);
  background-image: url('./components/assets/bg-pattern-top.svg'), url('./components/assets/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 51vw bottom 20vh, left 45vw top 50vh;
  box-sizing: border-box;
}
.card{
  width: 22rem;
  background: white;
  border-radius: .8rem;
  overflow: hidden;
  position: relative;
}
.card__iamge-bg{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.card__image-person{
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  top: 5rem;
  left: 7.2rem;
  display: flex;
  justify-content: center;
}
.container__name{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  margin-top: 4rem;
}
.card__name{
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--Very-desaturated-blue);
  margin: 0;
}
.card__age{
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--Dark-grayish-blue);
  margin: 0;
}
.card__country{
  font-size: 1rem;
  color: var(--Dark-grayish-blue);
  text-align: center;
  margin: .8rem 0 1.8rem;
}
.card__follow{
  display: flex;
  justify-content: space-around;
  border-top: 1px solid var(--Dark-gray);
  padding: 1rem;
}